<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Witaj <%= @user.username %>!</h1>
    <p>
      Jedna z mang na twojej liście: 
      <%= link_to @volume.manga.title_polish + " tom " + @volume.number.to_s, @volume_url %> 
      ma dzisiaj premierę!
      <br/>
    </p>
    <p>
      Więcej informacji oraz aktualny kalendarz premier znajdziesz na <%= @root_url %>
    </p>
    <p>Do zobaczenia!</p>
  </body>
</html>
