Witaj <%= @user.username %>!

Jedna z mang na twojej liście: <%= link_to @volume.manga.title_polish + " tom " + @volume.number.to_s, @volume_url %> ma dzisiaj premierę!

Więcej informacji oraz aktualny kalendarz premier znajdziesz na <%= @root_url %>

Do zobaczenia!