<%= form_for @manga do |f| %>
  <% if @manga.errors.any? %>
    <div id="error_explanation">
      <h2>Wystąpił błąd:</h2>
      
      <ul>
        <% @manga.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr class="list">
      <td>
        <%= f.label :title_japanise, "Tytuł oryginalny" %>
      </td>
      <td>
        <%= f.text_field :title_japanise, class: "normal", required: true %>
      </td>
    </tr>
    <tr class="list">
      <td>
        <%= f.label :title_polish, "Tytuł polski" %>
      </td>
      <td>
        <%= f.text_field :title_polish, class: "normal" %>
      </td>
    </tr>
    <tr class="list">
      <td>
        <%= f.label :publisher_id, "Wydawnictwo" %>
      </td>
      <td>
        <%= f.collection_select :publisher_id, Publisher.all.order(name: :asc), :id, :name, class: "normal", required: true %>
      </td>
    </tr>
    <tr class="list">
      <td>
        <%= f.label :volume_count, "Liczba tomów" %>
      </td>
      <td>
        <%= f.number_field :volume_count, class: "normal" %>
      </td>
    </tr>
    <tr class="list">
      <td>
        <%= label_tag "Cykl wydawniczy" %>
      </td>
      <td style="margin-left: -50px">
        <%= f.fields_for :release_cycle do |ff| %>
          <%= ff.number_field :number_of_units, style: "width: 100px; margin-left: -100px" %>
          </td>
          <td>
            <div style=" margin-left: -100px;">
              <%= ff.collection_select :time_unit_id, TimeUnit.all, :id, :name, style: "width: 100px;" %>
            </div>
        <% end %>
      </td>
    </tr>
    <tr class="list">
      <td>
        <%= f.label :price, "Cena" %>
      </td>
      <td>
        <%= f.number_field :price, step: :any, class: "normal" %>
      </td>
    </tr>
    <tr class="list">
      <td>
        <%= f.label :is_auto_actualized, "Aktualizuj automatycznie" %>
      </td>
      <td>
        <%= f.check_box :is_auto_actualized, class: "normal" %>
      </td>
    </tr>
    <% if @manga.id.blank? %>
      <tr class="list">
        <td>
          <%= label_tag :generate_volumes, "Wygeneruj tomiki" %>
        </td>
        <td>
          <%= check_box_tag :generate_volumes, { checked: false } %>
        </td>
      </tr>
    <% end %>
  </table>
  
  <% if @manga.id.blank? %>
    <div id="volumes_generation" hidden>
      <div id="sub-paragraph">
        <table>
          <tr class="list">
            <td>
              <%= label_tag :start_volume, "Tom początkowy" %>
            </td>
            <td>
              <%= number_field_tag :start_volume %>
            </td>
          </tr>
          <tr class="list">
            <td>
              <%= label_tag :end_volume, "Tom końcowy" %>
            </td>
            <td>
              <%= number_field_tag :end_volume %>
            </td>
          </tr>
          <tr class="list">
            <td>
              <%= label_tag :start_volume_date, "Data tomu początkowego" %>
            </td>
            <td>
              <%= date_field_tag :start_volume_date %>
            </td>
          </tr>
          <tr class="list">
            <td>
              <%= label_tag :is_date_confirmed, "Data pewna" %>
            </td>
            <td>
              <%= check_box_tag :is_date_confirmed %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
  
  <br/>
  <%= f.submit "Zapisz mangę", class: "btn btn-primary" %>
  &nbsp
  <%= link_to "Anuluj", mangas_path, class: "btn btn-primary"%>
<% end %>

 <% if @manga.id.blank? %>
  <script>
    $(function () {
      var $checkbox = $('[id^="generate_volumes"]'),
          $div = $('#volumes_generation'),
          $numberfield_SV = $('[id^="start_volume"]'),
          $numberfield_VC = $('[id^="volume_count"]'),
          $datefield_SVD = $('[id^="start_volume_date"]');

      $checkbox.change(function (e) {
          $div.prop('hidden', !$checkbox.is(':checked'))
          $numberfield_SV.prop('required', $checkbox.is(':checked'))
          $numberfield_VC.prop('required', $checkbox.is(':checked'))
          $datefield_SVD.prop('required', $checkbox.is(':checked'))

      });
    });
  </script>
<% end %>


<style>
  select { width: 100px }
  
  input[type="checkbox"]{
    width: 20px;
    height: 20px;
  }

  td:nth-child(even){
    text-align: center;
    max-width: 500px;
  }

  td:nth-child(even) * {
    text-align: left;
    width: 200px;
  }
</style>
