<h1 class="header">
  Edytuj: <%= @manga.title_polish %>

  <%= link_to(
    manga_path(@manga),
    method: :delete,
    data: { confirm: "Czy jesteś pewien że chcesz usunąć tą mangę i wszystkie jej tomiki?" }
  ) do %>
    <span class="glyphicon glyphicon-trash" style="color: grey; font-size: 30px;"></span>
  <% end %>
</h1>

<div id="sub-paragraph">
  <%= render "form" %>
</div>
