<h1 class="header">Wszystkie mangi na stronie:</h1>

<div id="sub-paragraph">

  <table>
    <% @mangas.order(title_polish: :asc).each do |manga| %>
      <tr class="list">
        <td>
          <%= link_to manga.title_polish, manga_path(manga) %>
          <% if admin? %>
            <%= link_to edit_manga_path(manga) do %>
              <span class="glyphicon glyphicon-edit"></span>
            <% end %>            
          <% end %>
        </td>
        
        <% if user_signed_in? %>
          <td style="padding-left: 10px;">
            <%= render partial: "/manga_lists/partials/add_or_remove_button", :locals => { manga: manga } %>
          </td>
        <% end %>

      </tr>
    <% end %>
  </table>

  <% if admin? %>
    <br/>
    <%= link_to "Dodaj", new_manga_path, class: "btn btn-primary" %>
  <% end %>
</div>
