<h1 class="header">
  <%= @manga.title_polish %>
  <% if admin? %>
    <%= link_to edit_manga_path(@manga) do %>
      <span class="glyphicon glyphicon-edit" style="color: grey;"></span>
    <% end %>
  <% end %>
</h1>

<div id="sub-paragraph">
  <table>
    <tr class="list">
      <td>
        <h4>Tytuł oryginalny: </h4>
      </td>
      <td>
        <%= @manga.title_japanise %><br/>
      </td>
    </tr>
    <tr class="list">
      <td>
        <h4>Cykl wydawniczy: </h4>
      </td>
      <td>
        <% if @manga.release_cycle.present? %>
          Co 
          <%= @manga.release_cycle.number_of_units %>
          <%= @manga.release_cycle.time_unit.name %>
        <% else %>
          Nieokreślony
        <% end %>
      </td>
    </tr>
    <tr class="list">
      <td>
        <h4>Cena: </h4>
      </td>
      <td>
        <% if @manga.price.present? %>
          <%= number_to_currency @manga.price, unit: "zł", format: "%n %u" %>
        <% else %>
          Nieznana
        <% end %>
      </td>
    </tr>
    <tr class="list">
      <td>
        <h4>Liczba tomów: </h4>
      </td>
      <td>
        <%= @manga.volume_count.present? ? @manga.volume_count : "Nieznana" %> (<%= @manga.volumes.count %> w bazie)
      </td>
    </tr>
    <tr class="list">
      <td>
        <h4>Auto aktualizowany? </h4>
      </td>
      <td>
        <%= @manga.is_auto_actualized ? "Tak" : "Nie" %>
      </td>
    </tr>
    
    <% if user_signed_in? %>
      <tr>
        <td></td>
        <td>
          <%= render partial: "/manga_lists/partials/add_or_remove_button", :locals => { manga: @manga } %>
        </td>
      </tr>
    <% end %>
  </table>

  <br/>
  
  <div class="sub-paragraph">
    <h4>Lista tomików:</h4>
    
    <table>
      <% if @manga.volumes.count > 0 %>
        <% @manga.volumes.order(number: :asc).each do |volume| %>
          <tr class="list">
            <td>
              <%= link_to ("Tom " + volume.number.to_s), manga_volume_path(volume.manga, volume) %>
            </td>
            <td>
              <% if volume.release_date.present? %>
                <% unless volume.is_date_confirmed %>ok. <% end %><%= date_format_normal volume.release_date %>
              <% else %>
                Data nieznana
              <% end %>
            </td>
            <td>
            <% if admin? %> 
              <%= link_to edit_manga_volume_path(volume.manga, volume) do %>
                <span class="glyphicon glyphicon-edit"></span>
              <% end %>
            <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr><td></td><td></td><td>Brak<br/></td></tr>
      <% end %>

      <% if admin? %>
        <tr class="list">
          <td></td><td></td>
          <td>
            <%= link_to "Dodaj", new_manga_volume_path(@manga), class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </table>

    <br/>
    <%= link_to "<< Wróć", mangas_path, class: "btn btn-primary", style: "margin-left: -30px; padding-left: -30px;" %>
  </div>
</div>

<style>
h4{
  font-weight: bolder;
}

td{
  padding-right: 30px;
}
</style>
