<h1 class="header">
  Edytuj profil: <%= @user.username %>
  <%= link_to(
    manga_path(@user),
    method: :delete,
    data: { confirm: "Czy jesteś pewien że chcesz usunąć tego użytkownika?" }
  ) do %>
    <span class="glyphicon glyphicon-trash" style="color: grey; font-size: 30px;"></span>
  <% end %>
</h1>
<br/>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Wystąpił błąd:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div id="sub-paragraph">
  <table>
    <tr class="list">
      <td>
        <%= f.label :username, "Nazwa użytkownika" %>
      </td>
      <td style="padding-left: 10px;">
        <%= f.text_field :username, autofocus: true, style: "width: 175px; text-align: right;", required: true %>
      </td>
    </tr>
  </table>

  <br/>
  <%= f.submit "Zapisz", class: "btn btn-primary" %>
  &nbsp
  <%= link_to "Anuluj", profile_path(@user), class: "btn btn-primary"%>
<% end %>
