<h1 class="header">
  <%= my_profile? ? "Mój Profil" : ("Profil użytkownika " + @user.username) %>
  <% if my_profile? %>
    <%= link_to edit_user_registration_path do %>
      <span class="glyphicon glyphicon-edit" style="color: grey;"></span>
    <% end %>
  <% else %>
    <% if admin? %>
      <%= link_to edit_profile_path(@user) do %>
        <span class="glyphicon glyphicon-edit" style="color: grey;"></span>
      <% end %>
    <% end %>
  <% end %>
</h1>

<div id="sub-paragraph">
  <table>
    <tr class="list">
      <td>
        <h4>Email: </h4>
      </td>
      <td>
        <%= @user.email %>
      </td>
    </tr>

    <% if @user.end_of_ban.present? %>
      <tr>
        <td>
          <h4>Zbanowany do: </h4>
        </td>
        <td>
          <%= date_format_normal @user.end_of_ban %>
        </td>
      </tr>
    <% end %>
  </table>


  <br/>
  <h2 class="header">Lista mang:</h2>
  
  <% if @user.mangas.present? %>
    <%= render partial: "manga_lists/partials/list", :locals => { mangas: @user.mangas } %>
  <% else %>
    Brak
  <% end %>
</div>


<style>
h4{
  font-weight: bolder;
}

td{
  padding-right: 30px;
}
</style>
