<h1 class="header">Ponownie wyślij link aktywacyjny</h1>

<div id="sub-paragraph">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions">
      <%= f.submit "Wyślij" %>
    </div>
  <% end %>

  <br/>
  <%= render "devise/shared/links" %>
</div>
