<h1 class="header">Edytuj profil</h1>

<div id="sub-paragraph">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, required: true %>
    </div>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, required: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Oczekujemy na aktywację od: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, "Nowe hasło" %> <i>(zostaw puste jeśli nie chcesz go zmieniać)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em>Minimum <%= @minimum_password_length %> znaków</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Potwierdź hasło" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password, "Obecne hasło" %> <i>(potwierdź by zatwierdzić zmiany)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Zapisz" %>
    </div>
  <% end %>

  <br/>
  <div class="field">    
    <%= label_tag "Niezadowolony z serwisu?"%>
    <%= button_to(
      "Usuń konto",
      registration_path(resource_name),
      data: { confirm: "Czy jesteś pewien że chcesz usunąć swoje konto?" },
      method: :delete,
      class: "btn btn-danger btn-sm"
    )%>
  </div>

</div>

<%= link_to "<< Wróć", profile_path(current_user), class: "btn btn-primary" %>
