<h1 class="header">Rejestracja</h1>

<div id="sub-paragraph">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, required: true %>
    </div>

    <div class="field">
      <%= f.label :username, "Nazwa użytkownika" %><br />
      <%= f.text_field :username, autofocus: true, required: true %>
    </div>

    <div class="field">
      <%= f.label :password, "Hasło" %>
      <% if @minimum_password_length %>
      <em>(Minimum <%= @minimum_password_length %> znaków)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", required: true %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Potwierdź hasło" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
    </div>
    
    <div class="actions">
      <%= f.submit "Zarejestruj" %>
    </div>
  <% end %>

  <br/>
  <%= render "devise/shared/links" %>
</div>
