<h1 class="header">Panel Administratora</h1>
<br/>

<div id="sub-paragraph">
  <table class="admin">
    <tr>
      <td><%= link_to "Lista mang", mangas_path, class: "btn btn-primary btn-lg btn-block" %></td>
    </tr>
    <tr>
      <td><%= link_to "Dodaj mangę", new_manga_path, class: "btn btn-primary btn-lg btn-block" %></td>
    </tr>
    <tr>
      <td><%= link_to "Lista wydawnictw", publishers_path, class: "btn btn-primary btn-lg btn-block" %></td>
    </tr>
    <tr>
      <td><%= link_to "Dodaj wydawnictwo", new_publisher_path, class: "btn btn-primary btn-lg btn-block" %></td>
    </tr>
    <tr>
      <td><%= link_to "Lista użytkowników", users_list_path, class: "btn btn-primary btn-lg btn-block" %></td>
    </tr>
  </table>
</div>
