<h1 class="header">Lista użytkowników</h1>

<div id="sub-paragraph">
  <table class="bordered">
    <% @users.order(email: :asc).each_with_index do |user, i| %>
      <tr class="list">
        <td class="bordered">
          <h4><%= (i + 1).to_s + ". " %></h4>
        </td>
        <td class="bordered">
          <%= user.email %>
        </td>
        <td class="bordered">
          <%= link_to "Profil", profile_path(user), class: "btn btn-primary" %>
        </td>
        <td class="bordered">
          <%= link_to "Edytuj", edit_profile_path(user), class: "btn btn-primary" %>
        </td>
        <td class="bordered">
          <!-- this: -->
          <button id="btn-admin-g-<%= user.id %>" 
            onclick="change_admin_state( <%= user.id %> )" 
            <% if user.is_admin %>hidden<% end %> >
            Nadaj admina
          </button>
          <!-- or that: -->
          <button id="btn-admin-r-<%= user.id %>" 
            onclick="change_admin_state( <%= user.id %> )" 
            <% if !user.is_admin %>hidden<% end %> >
            Zabierz admina
          </button>
        </td>

        <td class="bordered">
          <% if user.end_of_ban.blank? %>
            <div>
              <%= form_tag "/profiles/ban" do %>
                <%= hidden_field_tag "user_id", user.id %>
                <%= date_field_tag "date", user.end_of_ban, required: true %>
                
                <%= submit_tag "Banuj" %>
              <% end %>
            </div>
          <% else %>
            <div>
              <%= form_tag "/profiles/unban" do %>          
                <%= hidden_field_tag "user_id", user.id %>
                <%= date_field_tag "date", user.end_of_ban, readonly: true %>

                <%= submit_tag "Odblokuj" %>
              <% end %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "<< Wróć", admins_path, class: "btn btn-primary" %>


<script>
  function change_admin_state(user_id)
  {
    $.ajax({
      type: "POST",
      url: '/change_admin_state',
      data: { user_id: user_id },
      success: function(response){
        if(response['success']){
          var btnGrant = $("#btn-admin-g-" + user_id);
          var btnRevoke = $("#btn-admin-r-" + user_id);
          if(btnGrant.is(":visible")){
            btnGrant.hide();
            btnRevoke.show();
          }
          else{
            btnGrant.show();
            btnRevoke.hide();
          }
        }
      }
    })
  };
</script>

