<h1 class="header">Wyślij ponownie link odblokowujący</h1>

<div id="sub-paragraph">
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="actions">
      <%= f.submit "Wyślij ponownie link odblokowujący" %>
    </div>
  <% end %>

  <br/>
  <%= render "devise/shared/links" %>
</div>
