<div class="dropdown-menu widget-notifications no-padding" style="width: 300px; max-height: 250px; overflow: auto;">
  <div>
    <a class="btn btn-default" onclick="setAllAsRead( <%= current_user.id %> )" style="width: 100%;">
      Oznacz wszystkie jako przeczytane
      <span class="glyphicon glyphicon-ok" style="color: green;"></span>
    </a>
  </div>
  <div style="margin-top: 5px; margin-bottom: 5px;">
    <a class="btn btn-default" onclick="deleteRead( <%= current_user.id %> )" style="width: 100%;">
      Usuń przeczytane
      <span class="glyphicon glyphicon-trash" style="color: gray;"></span>
    </a>
  </div>
  <ul style="margin-right: 20px; margin-left: -10px;">
    <% current_user.notifications.toDisplay.each do |notification| %>
      <li id="<% if notification.is_read %>old-<% end %>notification-<%= notification.id %>">
        <% unless notification.is_read %>
          <span id="s-read-<%= notification.id %>">
            <span class="glyphicon glyphicon-exclamation-sign" style="color: red;"></span>
          </span>
        <% end %>
        <%= notification.body %>
        <% unless notification.is_read %>
          <div class="notification-button" style="margin-right: 20px;" >
            <a id="a-read-<%= notification.id %>" onclick="setAsRead( <%= notification.id %> )">
              <span class="glyphicon glyphicon-ok" style="color: gray;"></span>
            </a>
          </div>
        <% end %>
        <div class="notification-button">
          <a onclick="deleteNotification( <%= notification.id %> )">
            <span class="glyphicon glyphicon-trash" style="color: gray;"></span>
          </a>
        </div>
      </li>
      <br/>
    <% end %>
  </ul>
</div>

<script>
  function setAsRead(notification_id){
    $.ajax({
      type: "POST",
      url: '/notification_read',
      data: { notification_id: notification_id },
      success: function(response){
        if(response['success']){
          var name = "notification-" + notification_id;
          document.getElementById(name).id = "old-" + name;
          $("#s-read-" + notification_id).hide();
          $("#a-read-" + notification_id).hide();
        }
      }
    })
  };
</script>

<script>
  function setAllAsRead(user_id){
    $.ajax({
      type: "POST",
      url: '/notification_read_all',
      data: { user_id: user_id },
      success: function(response){
        if(response['success']){
          changeAll('[id^=notification-');
          hideAll('[id^=s-read-');
          hideAll('[id^=a-read-');
        }
      }
    })
  };
</script>

<script>
  function deleteNotification(notification_id){
    $.ajax({
      type: "POST",
      url: '/notification_delete',
      data: { notification_id: notification_id },
      success: function(response){
        if(response['success'])
          $("#notification-" + notification_id).hide();
      }
    })
  };
</script>

<script>
  function deleteRead(user_id){
    $.ajax({
      type: "POST",
      url: '/notification_delete_read',
      data: { user_id: user_id },
      success: function(response){
        if(response['success']){
          hideAll('[id^=old-notification-');
        }
      }
    })
  };
</script>

<script>
  function hideAll(selector){
    elms = document.querySelectorAll(selector);
    for (var i = 0; i < elms.length; i++) {
      elms[i].setAttribute("hidden", "true");
    }
  }
</script>

<script>
  function changeAll(selector){
    elms = document.querySelectorAll(selector);
    for (var i = 0; i < elms.length; i++) {
      elms[i].setAttribute("id", "old-" + elms[i].id);
    }
  }
</script>
