<%= form_for @publisher do |f| %>
  <% if @publisher.errors.any? %>
    <div id="error_explanation">
      <h2>Wystąpił błąd:</h2>
      
      <ul>
        <% @publisher.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr class="list">
      <td>
        <%= f.label :name, "Nazwa" %>
      </td>
      <td>
        <%= f.text_field :name, style: "text-align: center; margin-left: 40px; width: 175px;", required: true %>
      </td>
    </tr>
    <tr class="list">
      <td></td>
      <td>
      </td>
    </tr>
  </table>

  <br/>
  <%= f.submit "Zapisz", class: "btn btn-primary" %>
  &nbsp
  <%= link_to "Anuluj", publishers_path, class: "btn btn-primary"%>
<% end %>
