<h1 class="header">
  Edytuj: <%= @publisher.name %>

  <%= link_to(
    publisher_path(@publisher),
    method: :delete,
    data: { confirm: "Czy jesteś pewien że chcesz usunąć tego wydawcę i wszystkie jego mangi?" }
  ) do %>
    <span class="glyphicon glyphicon-trash" style="color: grey; font-size: 30px;"></span>
  <% end %>
</h1>

<div id="sub-paragraph">
  <%= render "form" %>
</div>

