<h1 class="header">Wszystkie wydawnictwa:</h1>

<div id="sub-paragraph">

  <table>
  <% @publishers.each do |publisher| %>
    <tr class="list" style="font-size: 23px;">
      <td>
        <%= link_to publisher.name, publisher_path(publisher) %>
        <% if admin? %>
          <%= link_to edit_publisher_path(publisher) do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>            
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<% if admin? %>
  <br/>  
  <%= link_to "Dodaj", new_publisher_path, class: "btn btn-primary" %>
<% end %>
</div>
