<h1 class="header">
  Wydawnictwo: 
  <%= @publisher.name %>
  <% if admin? %>
    <%= link_to edit_publisher_path(@publisher) do %>
      <span class="glyphicon glyphicon-edit" style="color: grey;"></span>
    <% end %>
  <% end %>
</h1>

<div id="sub-paragraph">
  <h4 class="header">Mangi: </h4>
  <table>
    <% if @publisher.mangas.present? %>
      <% @publisher.mangas.order(title_polish: :asc).each do |manga| %>
        <tr class="list">
          <td>
            <%= link_to show_manga_title(manga), manga_path(manga) %>
          </td>
        </tr>
      <% end %>
    <% else %>
    <tr><td>Brak</td></tr>
  <% end %>
</table>

<br/>
<%= link_to "<< Wróć", publishers_path, class: "btn btn-primary" %>
