<h1 class="header">Strona Główna</h1>

<div id="sub-paragraph">
  <% unless user_signed_in? %>
    <p>
      <br/>
      <h2 class="header">Kupujesz mangi?</h2>
      
      <ul id="info">
        <li style="margin-left: 20px;">Zmęczony ciągłą koniecznością śledzenia planów wydawniczych?</li>
        <li style="margin-left: 40px;">Ciągłe niezapowiedziane zmiany terminów premier przyprawiają cię o migrenę?</li>
        <li style="margin-left: 60px;">Nie masz czasu na śledzenie rynku wydawniczego?</li>
      </ul>
      <br/>
      <span id="info"  style="margin-left: 30px;">Nie szukaj więcej, bo właśnie znalazłeś rozwiązanie!</span>
      <br/>
      <br/>
      <span id="info">
        <span style="font-weight: bold;">Mangowo</span> to jedyny w swoim rodzaju serwis, który sam, na na bieżąco śledzi zmiany 
        w kalendarzach wydawniczych najpopularniejszych polskich wydawnictw mangowych.
      </span>
      <br/>
      <br/>
      <h3>
        Jak to działa?
      </h3>
      <ol id="info">
        <li>Załuż konto.</li>
        <li>Dodaj swoje ulubione mangi.</li>
        <li>Spokojnie czekaj na premierę, w jej dniu otrzymasz maila z powiadomieniem!</li>
      </ol>
      
      <span id="info" style="margin-left: 30px;">
        To takie proste, a pozwala oszczędzić bezcenny czas!
      </span>
      <br/>
      <br/>
      <span id="info">
        Nie czekaj, 
        <%= link_to "zarejestruj się", new_user_registration_path %> 
        teraz! To nic nie kosztuje.
      </span>
      <br/>
    </p>
  <% end %>


  <h2 class="header">Kalendarz wydawniczy:</h2>
  <br/>
  <div class="centred">
    <%= render "home/partials/calendar" %>
  </div>

  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

  <h2 class="header">Najbliższe premiery:</h2>
  <table id=sub-paragraph>
    <% @volumes.each do |volume| %>
      <tr class="<%= user_signed_in? && current_user.got_manga_on_list?(volume.manga.id) ? "row-soon-mine" : "row-soon" %>">
        <td style="width: 300px;"><%= volume.title_full %></td>
        <td><%= date_format_normal(volume.release_date) %></td>
      </tr>
    <% end %>
  </table>

  <br/>


</div>

<style>
  td{
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
</style>