
<!-- this: -->
<button id="btn-add-<%= manga.id %>" 
  onclick="add_to_list( <%= current_user.id %>, <%= manga.id %> )" 
  <% if current_user.got_manga_on_list? manga.id %>hidden<% end %> >
  Dodaj do listy
</button>
<!-- or that: -->
<button id="btn-remove-<%= manga.id %>" 
  onclick="remove_from_list( <%= current_user.id %>, <%= manga.id %> )" 
  <% if !current_user.got_manga_on_list? manga.id %>hidden<% end %> >
  Usuń z listy
</button>


<script>
  function add_to_list(user_id, manga_id)
  {
    $.ajax({
      type: "POST",
      url: '/add_manga_to_list',
      data: { user_id: user_id, manga_id: manga_id },
      success: function(response){
        if(response['success']){
          $("#btn-add-" + manga_id).hide();
          $("#btn-remove-" + manga_id).show();
        }
      }
    })
  };
</script>

<script>
  function remove_from_list(user_id, manga_id)
  {
    $.ajax({
      type: "POST",
      url: '/remove_manga_from_list',
      data: { user_id: user_id, manga_id: manga_id },
      success: function(response){
        if(response['success']){
          $("#btn-remove-" + manga_id).hide();
          $("#btn-add-" + manga_id).show();
        }
      }
    })
  };
</script>
