<table class="bordered">
  <% mangas.order(title_polish: :asc).each_with_index do |manga, i| %>
    <tr class="list">
      <td class="bordered">
        <h3><%= (i + 1).to_s + "." %></h3>
      </td>

      <td class="bordered" style="padding-left: 10px;">
        <h3><%= link_to manga.title_both, manga_path(manga) %></h3>
      </td>
      
      <% if myProfile? %>
        <td class="bordered">
          <%= render partial: "/manga_lists/partials/add_or_remove_button", :locals => { manga: manga } %>
        </td>
        <td class="bordered">
          <%= render partial: "/manga_lists/partials/on_off_notifications", :locals => { manga: manga, user: current_user } %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
