
<!-- this: -->
<button id="btn-notifications-on-<%= manga.id %>" 
  onclick="change_notifications_state( <%= manga.id %>, <%= user.id %> )" 
  <% if user.manga_lists.where(manga_id: manga.id).first.are_notifications_on %>hidden<% end %> >
  Włącz powiadomienia mailowe
</button>
<!-- or that: -->
<button id="btn-notifications-off-<%= manga.id %>" 
  onclick="change_notifications_state( <%= manga.id %>, <%= user.id %> )" 
  <% if !user.manga_lists.where(manga_id: manga.id).first.are_notifications_on %>hidden<% end %> >
  Wyłącz powiadomienia mailowe
</button>


<script>
  function change_notifications_state(manga_id, user_id)
  {
    $.ajax({
      type: "POST",
      url: '/change_notifications_state',
      data: { user_id: user_id, manga_id: manga_id },
      success: function(response){
        if(response['success']){
          var btnOn = $("#btn-notifications-on-" + manga_id);
          var btnOff = $("#btn-notifications-off-" + manga_id);
          if(btnOn.is(":visible")){
            btnOn.hide();
            btnOff.show();
          }
          else{
            btnOn.show();
            btnOff.hide();
          }
        }
      }
    })
  };
</script>
