<%= form_for [@volume.manga, @volume] do |f| %>
  <% if @volume.errors.any? %>
    <div id="error_explanation">
      <h2>Wystąpił błąd:</h2>
      
      <ul>
        <% @volume.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr class="list">
      <td>
        <%= f.label :number, "Numer tomu" %>
      </td>
      <td>
        <%= f.number_field :number, class: "normal", required: true %>
      </td>
    </tr>
    <tr class="list">
      <td>
        <%= f.label :release_date, "Data wydania" %>
      </td>
      <td>
        <%= f.date_field :release_date, class: "normal" %>
      </td>
    </tr>
    <tr class="list">
      <td>
        <%= f.label :is_date_confirmed, "Data jest potwierdzona" %>
      </td>
      <td>
        <%= f.check_box :is_date_confirmed %>
      </td>
    </tr>
    <tr class="list">
      <td>
        <%= f.label :is_auto_actualized, "Aktualizuj automatycznie" %>
      </td>
      <td>
        <%= f.check_box :is_auto_actualized %>
      </td>
    </tr>
  </table>
  
  <br/>
  <%= f.submit "Zapisz tomik", class: "btn btn-primary" %>
  &nbsp
  <%= link_to "Anuluj", manga_path(@volume.manga), class: "btn btn-primary"%>
<% end %>

<style>
  input[type="checkbox"]{
    width: 20px;
    height: 20px;
  }

  input.normal{
    width: 175px;
    text-align: left;
  }

  td:nth-child(even){
    text-align: center;
  }
</style>
