<h1 class="header">
  Edytuj: <%= @volume.manga.title_polish %> tom <%= @volume.number %>

  <%= link_to(
    manga_volume_path(@volume.manga, @volume),
    method: :delete,
    data: { confirm: "Czy jesteś pewien że chcesz usunąć ten tom?" }
  ) do%>
    <span class="glyphicon glyphicon-trash" style="color: grey; font-size: 30px;"></span>
  <% end %>
</h1>

<div id="sub-paragraph">
  <%= render "form" %>
</div>
