<h1 class="header">
  <%= @volume.manga.title_polish %> tom <%= @volume.number %>
  <% if admin? %>
    <%= link_to edit_manga_volume_path(@volume.manga, @volume) do %>
      <span class="glyphicon glyphicon-edit" style="color: grey;"></span>
    <% end %>
  <% end %>
</h1>


<div id="sub-paragraph">
  <table>
    <tr class="list">
      <td>
        <h4>Polska premiera: </h4>
      </td>
      <td>
        <% if @volume.release_date.present? %>
          <% unless @volume.is_date_confirmed %>Okolice <% end %><%= date_format_normal @volume.release_date %>
        <% else %>
          Nieznana
        <% end %>
      </td>
    </tr>
    <tr class="list">
      <td>
        <h4>Auto aktualizowany?</h4>
      </td>
      <td>
        <%= @volume.is_auto_actualized ? "Tak" : "Nie" %>
      </td>
    </tr>
    <tr class="list">
      <td>
        <h4>Ostatnia aktualizacja</h4>
      </td>
      <td>
        <%= date_format_normal @volume.updated_at %>
      </td>
    </tr>
  </table>
</div>
<%= link_to "<< Wróć", manga_path(@volume.manga), class: "btn btn-primary" %>



<style>
h4{
  font-weight: bolder;
}

td{
  padding-right: 30px;
}
</style>
