<div class="simple-calendar sm">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: '<'), calendar.url_for_previous_view, class: "btn btn-success" %>
    <span class="calendar-title"><%= TimeUnit.months_names[start_date.month] %> <%= start_date.year %></span>
    <%= link_to t('simple_calendar.next', default: '>'), calendar.url_for_next_view, class: "btn btn-success" %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= TimeUnit.days_names_short[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<style>
  table {
      border-collapse: collapse;
  }

  table, td {
      border: 1px solid #ddd;
  }


  td{
    width: 100px;
  }

  th{
    background-color: #4CAF50;
    color: white;
  }

  tr{
    height: 80px;
  }

  tr:nth-child(even){
    background-color: #f2f2f2;
  }

  div.sm{
    max-width: 750px;
  }

  div.calendar-heading{
    margin: 0 auto;
    text-align: center;
  }

  span.calendar-title{
    font-size: 25px;
    font-weight: bolder;
  }

</style>
