<% start_date = (params[:start_date].present? ? params[:start_date].to_date : Date.today) %>

<%= month_calendar do |date| %>
  <div>
    <div>
      <% if date.month != start_date.month %>
        <span style="color: gray;"><%= date.day %></span>
      <% else %>
        <span style="font-weight: bold;"><%= date.day %></span>
      <% end %>
    </div>

    <% Volume.releasedAt(date).each do |volume| %>
      <div id="volume-<%= volume.id %>" class="square<% if user_signed_in? && current_user.got_manga_on_list?(volume.manga.id) %>-personal<% end %>"></div>
      <div id="popup-<%= volume.id %>" class="popup"><%= volume.title_full %></div>
      
      <script>
        $(document).ready(function() {
          $('#volume-<%= volume.id %>').hover(function() {
              $('#popup-<%= volume.id %>').show();
          }, function() {
              $('#popup-<%= volume.id %>').hide();
          });
        });
      </script>
    <% end %>
  </div>
<% end %>


<style>
  div.popup {
    height: 50px;
    width: 200px;
    text-align: center;
    vertical-align:middle;
    background-color: cornflowerblue;
    color: white;
    display: none;
    padding-top: 8px;
    

    position: absolute;
  }

  div.square {
    background: blue;
    border: solid 2px black;
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  div.square-personal {
    background: green;
    border: solid 2px black;
    display: inline-block;
    width: 20px;
    height: 20px;
  }


  .today { background: PaleGreen; }
  
</style>
