/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";


#info{
  font-size: 18px;
}

#sub-paragraph {
  margin-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1.5%;
}



div.body{
  background: white;
  border-style: outset;
  border-radius: 15px 50px;
  border-width: 10px;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  width: 90%;
}

div.centred{
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);

clear:both;
}

div.notification-button{
  text-align: right;
  margin-top: -20px; 
}


h1.header {
  font-family: "Veranda";
  font-size: 45px;
  font-weight: bold;
}

h2.header {
  font-family: "Veranda";
  font-size: 35px;
  font-weight: bold;
}

h4.header {
  font-family: "Veranda";
  font-size: 20px;
  font-weight: bold;
}


input.normal{
  width: 175px;
  text-align: left;
}


li.navi:hover, li.navi:active{
  background: black;
}


table.admin{
  width: 50%;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

table.bordered, td.bordered {
  border-collapse: collapse;
  border: 1px solid #ddd;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}


tr.list{
  font-size: 18px;
}

tr.list:nth-child(even){
  background-color: #f9f9f2
}

tr.row-soon{
  margin-left: 20px;
}

tr.row-soon-mine{
  color: green;
  font-weight: bold;
  margin-left: 20px;
}
