<p>Witaj <%= @resource.email %>!</p>

<p>Aby zresetować hasło do twojego konta kliknij link poniżej:</p>

<p><%= link_to 'Resetuj hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli to nie ty wysłałeś zapytanie o zmianę hasła, lub nie chcesz go resetować, poprostu zignoruj tą wiadomość.</p>
<p>Twoje hasło nie ulegnie zmianie dopuki nie klikniesz w link i go nie zmienisz.</p>
