<p>Witaj <%= @resource.email %>!</p>

<p>Twoje konto zostało tymczsowo zablokowane ze względu na zbyt dużą liczbę nieudanych prób zalogowania.</p>

<p>Kliknij link poniżej, by ponownie je aktywować:</p>

<p><%= link_to 'Odblokuj konto', unlock_url(@resource, unlock_token: @token) %></p>
